<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/register_form.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
<a th:href="@{./book}" ><button>Continue as anonymous</button></a>

<div id="parent">
    <form th:if="${#authorization.expression('isAnonymous()')}" id="registerForm">
        <label for="login">Login: </label><input name="login" id="login" required>
        <br />
        <label for="password">Password: </label><input name="password" id="password" required>
        <br />
        <label for="rPassword">Repeat password: </label><input name="rPassword" id="rPassword" required>
        <br />
        <button type="submit" >Register</button>
    </form>
</div>



<script  src="book-register.js"></script>
</body>

</html>