<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create book form</title>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>

  <body>

    <form id="saveBookForm">
        <label for="title">title:</label><input name="title" id="title" required>
        <br />
        <label for="isbn">isbn: </label><input name="isbn" id="isbn" required>
        <br />
        <label for="author">author: </label><input name="author" id="author" required>
        <br />
        <button type="submit" >Save</button>
    </form>


    <form id="searchBookForm">
        <label for="searchTitle">title:</label><input name="searchTitle" id ="searchTitle" required>
        <br />
        <button type="submit">Search</button>
    </form>

        <table>
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">ISBN</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:each="book: ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.author}"></td>
        </tr>
        </tbody>
    </table>



    <script src="index.js"></script>
  </body>
</html>