<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create book form</title>
  </head>
  <body>
    <form method="post"  action="/book/create">
        title:<input name="title">
        <br />
        isbn: <input name="isbn">
        <br />
        author: <input name="author">
        <br />
        <button type="submit">Save</button>
    </form>

    <p>title: <span th:text="*{bookDto.title}"/></p>
    <p>isbn: <span th:text="*{bookDto.isbn}"/></p>
    <p>author: <span th:text="*{bookDto.author}"/></p>
 </body>

</html>